.inputInfo {
    display: flex;
    flex-direction: column;
    margin-bottom: 2vh;
}

.tagInfo {
    position: relative;
    left: 20vw;
    top: -13vw;
    border: 0.1vw solid orange;
    width: 10vw;
    margin-bottom: 0.1vh;
}

.dateInfo {
    position: relative;
    left: 20vw;
    top: -13vw;
    border: 0.1vw solid orange;
    width: 10vw;
}